.footer{
	margin: 0px;
	text-align: center;
	height: 700px;
	background-image: linear-gradient(-225deg, rgb(40,40,40,0.2), rgb(255,255,255,0.2)), url("../../images/greenhouse.jpg");
	background-size: cover;
	background-position: center;
}

.footer h2{
	margin: 0px;
	padding-top: 150px;
	padding-bottom: 50px;
	color:#F8F6F7;
	font-size: 70px;

}

.footer i{
	font-size: 90px;
	color:#F8F6F7;
	margin: 0px;
	padding: 20px;
}

.footer i:hover{
	color: #c7c8cc;
}

.footer li{
 	list-style: none;
}

.footer ul{
 	padding-left: 0px;
 	padding: 0px
 }